<section class="row store-footer mb-5">
    <div class="col-md-6 bg-white p-5 d-flex justify-content-center">
        <div class="m-auto">
            <h2 class="mb-3">Не нашли среди всего многообразия продукции того, что вам нужно?</h2>
            <p class="mb-3">Мы изготовим нестандартную фурнитуру по вашим эскизам, чертежам и техническим
                требованиям.
            </p>
            <a href="malito:mzinyoni7@outlook.com" class="btn brownish-bg">Оставить заявку</a>
        </div>
    </div>
    <div class="col-md-6 p-0">
        <img src="/static/sapp_store/img/request-section.png" alt="">
    </div>
</section>